li.vidos {
    display: inline-table;
    border: 1px solid gray;
    margin-top: 30px;
    padding-left: 8px;
    border-radius: 9px;
    background-color: #ABBF78;
}
li.vidos.vidos-item {
    font: 34px 'Arial Narrow', sans;
    /**background-image: url('/assets/blast_logo.png');*/
    background-size: 110%;
    background-position: 2px 11px;
    background-repeat: no-repeat;
}
li.vidos.vidos-search {
    position:relative;
    font: 10px!important;
    width:216px!important;
    height: 39px;
    top:-9px!important;
    left: 3px!important;
}
li.vidos.vidos-search input{
    width:68%;height: 20px;
    font: 13px HelveticaNeue, serif;
}
li.vidos.vidos-search > div.button-container {
    position: relative;
    top:0; float: right;
    margin-top:3px;
    height:6%;width:21%;
}

li.vidos.vidos-search > div.button-container button{
    border-radius: 11px;
}
.promote-box {
    border:0px solid black; float: right;
    font: 11px 'Arial Narrow', sans;
    transform:  rotate(270deg) translate(-8px, 2px);
    -webkit-transform: rotate(270deg) translate(-8px, 2px);
    -moz-transform: rotate(270deg) translate(-8px, 2px);
    -o-transform: rotate(270deg) translate(-8px, 2px);
    -ms-transform: rotate(270deg) translate(-8px, 2px);
}


/* GENERAL */

#blaststLogo a {
	display: inline-block;
	margin: 0.4em;
}
#blaststLogo {
	background-color: #abbf78;
}
